// off=0, warn = 1, error = 2,
{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "indent": ["warn", 4],
    "comma-dangle": "off",
    "quotes": ["warn", "single"],
    'no-multi-spaces': 'off',
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "import/no-extraneous-dependencies": ["off", {"devDependencies": false}],
    "no-shadow": "off",
    "no-restricted-imports": "error",
    "import/prefer-default-export": "warn",
    "class-methods-use-this": "off",
  },
  "globals": {
    "$": false,
    "HanziWriter":false
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
}

