<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yilber Mejia | Web Developer | Brooklyn, New York</title>
        <meta name="description" content="Freelance Web developer based in Brooklyn, NY. I offer web development and responsive web design focusing on user-experience and best practices. Part of the stack includes HTML5/CSS3, SASS, Javascript, jQuery, PHP, SQL, and Wordpress">
        <meta name="keywords" content="web developer, web design, website, design, UX/UI, UX, UI, front end, front-end developer, responsive, wordpress, html5, css3, javascript, jquery, php, Brooklyn, New York">

        <meta name="theme-color" content="#3DB1A4">
        <meta name="msapplication-navbutton-color" content="#3DB1A4">
        <meta name="apple-mobile-web-app-status-bar-style" content="#3DB1A4">
        <meta name="msapplication-TileImage" content="favicon.png?fit=32%2C32"/>
        <link rel="icon" href="favicon.png?fit=32%2C32" sizes="32x32"/>
        <link rel="icon" href="favicon.png?fit=32%2C32" sizes="192x192"/>
        <link rel="apple-touch-icon-precomposed" href="favicon.png?fit=32%2C32"/>

        <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i|Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css?ver=1.0.6">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="body" style="margin-top: 0;">
        <nav id="nav" class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.yilbermejia.com/">Yilber Mejia</a>
                </div>
            </div>
        </nav>

        <article id="featured-work" class="page">
            <header class="jumbotron">
                <div class="container">
                    <h1 class="jumbotron-heading">Chinese</h1>
                    <p>Learn Chinese Characters</p>
                </div>
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                        <h2>What would you like to study?</h2>

                        <form action="#" class="form flashcard__order">
                            <div class="form-group">
                                <label for="lesson" class="control-label">Lesson</label>

                                <select class="form-control" name="lesson" id="lesson">
                                    <!-- <option value="-1">All Lessons</option> -->
                                    <option value="0">Introduction</option>
                                    <option value="1">Lesson 1</option>
                                    <option value="2">Lesson 2</option>
                                    <option value="3">Lesson 3</option>
                                    <option value="4">Lesson 4</option>
                                    <option value="5" selected>Lesson 5</option>
                                <!--
                                    <option value="6">Lesson 6</option>
                                    <option value="7">Lesson 7</option>
                                    <option value="8">Lesson 8</option>
                                    <option value="9">Lesson 9</option>
                                    <option value="10">Lesson 10</option>
                                -->
                                </select>
                            </div>

                            <div id="dialogue-choice" class="form-group">
                                <label for="dialogue" class="control-label">Dialogue</label>

                                <div id="lesson-0">
                                    <label>
                                        <input type="radio" name="dialogue-0" value="all" checked>All
                                    </label>
                                    <label>
                                        <input type="radio" name="dialogue-0" value="1">Radicals
                                    </label>

                                    <label>
                                        <input type="radio" name="dialogue-0" value="2">Numbers
                                    </label>
                                </div>

                                <div id="lessons">
                                    <label>
                                        <input type="radio" name="dialogue" value="all" checked>All
                                    </label>
                                    <label>
                                        <input type="radio" name="dialogue" value="1">Dialogue 1
                                    </label>

                                    <label>
                                        <input type="radio" name="dialogue" value="2">Dialogue 2
                                    </label>
                                </div>
                            </div>

                            <div id="cardsOrder">
                                <label for="cardsOrder" class="control-label">Order</label>

                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="cardsOrder" value="linear" checked>in order
                                    </label>

                                    <label>
                                        <input type="radio" name="cardsOrder" value="random">shuffle
                                    </label>
                                </div>
                            </div>

                            <button id="update" class="btn btn-primary">Update</button>
                        </form>
                    </div>

                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                        <div class="flashcard">
                            <div class="flashcard__front">
                                <span class="flashcard--card-number"></span>
                                <div id="flashcard--character--front" class="flashcard--character"></div>
                                <div id="flashcard--character--front-2" class="flashcard--character"></div>
                                <div id="flashcard--character--front-3" class="flashcard--character"></div>
                                <span class="flashcard__flip-switch"><i class="fa fa-repeat" aria-hidden="true"></i></span>
                            </div>

                            <div class="flashcard__back">
                                <div class="flashcard__back--top-side">
                                    <span class="flashcard--card-number"></span>

                                    <div class="flashcard--card-characters">
                                        <div id="flashcard--character--back" class="flashcard--character"></div>
                                        <div id="flashcard--character--back-2" class="flashcard--character"></div>
                                        <div id="flashcard--character--back-3" class="flashcard--character"></div>
                                    </div>

                                    <span class="flashcard--pinyin"></span>
                                </div>
                                <div class="flashcard__back--bottom-side">
                                    <span class="flashcard--meaning"></span>
                                </div>
                                <span class="flashcard__flip-switch"><i class="fa fa-repeat" aria-hidden="true"></i></span>
                            </div>
                        </div>

                        <div class="flashcard__controllers">
                            <a href="#" class="btn btn-primary prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>prev</a>
                            <a href="#" class="btn btn-primary next">next<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <header class="jumbotron">
                <div class="container">
                    <h2 class="jumbotron-heading">Resources</h2>
                </div>
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>How to type pinyin with tone marks</h3>
                        <p><strong>Microsoft Windows users:</strong> Go to <a href="https://www.pinyintones.com/">pinyintones</a> and follow the tutorial. It is super easy and it took me less than 2 minutes to complete the whole process.</p>

                        <p><strong>Mac OS X users:</strong> For the Mac OS it is a little more complicated but not too hard. Here's the <a href="http://pinpinchinese.com/blog/how-to-type-pinyin-tone-marks-mac-os-x-yosemite/">link</a> for the tutorial.<br><span class="text-danger">Note: I havent tried this since I dont own a Mac.</span></p>

                        <span class="text-primary">THIS WEBSITE IS NOT RESPONSIBLE FOR‎ THE CONTENT AND FUNCTIONALITY OF THIRD PARTY WEBSITES LINKED TO FROM WWW.YILBERMEJIA.COM</span>
                    </div>
                </div>
            </div>
        </article>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-wrapper">
                            <p class="text-center">&copy; 2018 Yilber Mejia. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="./js/jquery.min.js?ver=3.3.1"><\/script>')</script>

        <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@0.10.1/dist/hanzi-writer.min.js"></script>
        <script>window.HanziWriter || document.write('<script src="./js/hanzi-writer.min?ver=0.10.1"><\/script>')</script>

        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/main.min.js?ver=1.0.17"></script>
    </body>
</html>
