.filters {
	display: table;
	margin: 0 auto 30px;

	li {
		border: 1px solid $brand-primary;
		border-radius: $border-radius-base;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 15px;
		cursor: pointer;
		color: $brand-primary;

		+ li {
			margin-left: 10px;
		}

		&.active, &:hover, &:focus {
			background-color: $brand-primary;
			color: #fff;
		}
	}
}