// Footer
// --------------------------------------------------

// Base class
// --------------------------------------------------

.footer {
	width: 100%;
    padding: 19px 0;
    background-color: $footer-bg;
    color: $footer-color;

    p {
        font-family: $font-family-sans-serif;
        margin: 0;
    }
}

.fa {
    width: 20px;
    text-align: center;
}
