//
// Contact Page
// --------------------------------------------------


// Base class
// --------------------------------------------------

.tabs {
	&.tabs-centered {
		display: table;
		margin: 0 auto;
	}

	.tab-content {
		padding-bottom: 30px;
		border: 1px solid #ddd;
		border-top: 0;

		.jumbotron-inverse {
			padding-top: 60px;
			margin-top: 0;
		}

		input[type="radio"], input[type="checkbox"] {
			margin-top: 8px;
		}
	}
}

.nav-tabs {
	> li {
		> a {
			color: $navbar-default-link-color;

			&:hover {
				color: $brand-primary;
			}
		}

		&.active > a,
		&.active > a:hover,
		&.active > a:focus {
			color: $brand-primary;
		}
	}
}